{% render 'partials/head.liquid' %}

<nav>

<figure class="nav-logo-container">
  <img class="dda-logo" src="/assets/Group 1.svg">
</figure>

<div class="hamburger-menu-container">
  <span class="menu-stripe-1"></span>
  <span class="menu-stripe-2"></span>
  <span class="menu-stripe-3"></span>
</div>

<ul class="navbar-container">
  <li><a class="navbar-item" href="#true-experience" aria-current="page">true experience</a></li>
  <li><a class="navbar-item" href="#expertises">expertises</a></li>
  <li><a class="navbar-item" href="#inzichten">inzichten</a></li>
  <li><a class="navbar-item" href="#over-ons">over ons</a></li>
  <li><a class="navbar-item" href="#vacatures">vacatures</a></li>
  <li><a class="navbar-item" href="#contact">contact</a></li>
</ul>

</nav>

<header>
<a class="hero-section-button" href="http://localhost:8000/events">
  <img src="/assets/Icon.svg">
  TERUG NAAR EVENTS
</a>
<h1 class="hero-section-title">Detailspagina</h1>
<p class="hero-section-paragraph">Spraakmakende sprekers. Inspirerende kennissessies. Events waar je écht bij wilt
  zijn.
  En waar je al je vakgenoten weer spreekt. Versterk je bureau met kennis en inspiratie over bureaumanagement,
  leiderschap en de laatste ontwikkelingen.</p>
</header>

<!-- ============ contenblok-1 ============ -->

<main>

{% if eventDetails %}
  <h1>{{ eventDetails.title }}</h1>
  <p>{{ eventDetails.description }}</p>
  <p>{{ eventDetails.intro }}</p>
  <p>{{ eventDetails.content }}</p>


  <p> {{ eventDetails.location }}</p>
  <p> {{ eventDetails.date }}</p>
  <img class="card-image" src="https://fdnd-agency.directus.app/assets/{{ eventDetails.photo }}" alt="{{ event.title }}">

{% else %}
  <p>Event niet gevonden.</p>
{% endif %}





</main>


  {% render 'partials/foot.liquid' %}
